<chartjs-chart>

    <div><canvas id="canvas"></canvas></div>

    <script>
        var tag = this

        var demoData = {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3]
            }]
        }
        var demoOptions = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }

        tag.opts.type = tag.opts.type || 'line'
        tag.opts.data = tag.opts.data || demoData
        tag.opts.options = tag.opts.options || demoOptions

        tag.on('updated', function() {
            if(!tag.chart) {
                tag.chart = new Chart(tag.canvas, tag.opts)
            } else {
                tag.chart.update()
            }
        })

    </script>

</chartjs-chart>
