<sortable-table>

    <style scoped>
        :scope {
            display: table;
        }

        thead {
            font-weight: bold;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        thead th {
            cursor: pointer;
        }
    </style>

    <thead>
    <tr>
        <th
                each="{column, column_index in opts.columns}"
                class="{even: even(column_index+1), odd: !even(column_index+1), sorted: column_index==sort_column_index, descending: column_index==sort_column_index && sort_descending}"
                onclick="{onHeaderClicked}"
                >
            <yield from="th"></yield>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr
            each="{row, row_index in sorted_rows()}"
            class="{even: even(row_index+1), odd: !even(row_index+1)}">
        <td
                each="{value, column_index in row}"
                class="{sorted: column_index==sort_column_index, descending: column_index==sort_column_index && sort_descending}">
            <yield from="td"></yield>
        </td>
    </tr>
    </tbody>

    <script>
        var tag = this

        // OPTIONS

        var demoData = {
            columns: [
                {cls: 'name', title: 'Name'},
                {title: 'Age'},
                {title: 'Skill'}
            ],
            rows: [
                ['Jason', 21, 'Java'],
                ['Mary', 35, 'Javascript'],
                ['Gary', 22, 'Prolog']
            ]
        }
        if(!tag.opts.rows && !tag.opts.columns) {
            tag.opts.rows = demoData.rows
            tag.opts.columns = demoData.columns
        }

        // PROPERTIES

        tag.sort_column_index = -1
        tag.sort_descending = false

        tag.sorted_rows = function() {
            //if(tag.sort_column_index < 0) return tag.opts.rows
            var sorted = _.sortBy(tag.opts.rows, tag.sort_column_index)
            if(tag.sort_descending) sorted.reverse()
            return sorted
        }

        // EVENTS

        tag.onHeaderClicked = function (e) {
            var sameColumn = e.item.column_index == tag.sort_column_index
            var sortDirection = sameColumn ? !tag.sort_descending : tag.sort_descending
            tag.sortBy(e.item.column.title, sortDirection)
        }

        // ACTIONS

        tag.sortBy = function (columnTitle, descending) {
            tag.sort_column_index = _.findIndex(tag.opts.columns, function(col) { return col.title == columnTitle })
            tag.sort_descending = descending
        }

        // OTHER

        tag.even = function (index) {
            return index % 2 == 0
        }

    </script>

</sortable-table>
