@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
*{
    margin:0px;
    padding:0px;
}
html{
    background: #667;
}
toggle-selector-tester {
    margin: 100px;
    display: block;
}

toggle-selector-tester .selected {
    margin: 100px;
    display: block;
    font: 130%/1.618 "Lato";
    color: rgba(0,0,0,.9);
}

toggle-selector {
    display: block;
    position: relative;
    background: rgba(255,255,255,.1);
    margin: 4px auto;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 5px;
    position: relative;
    height: 100px;
    width: 318px;
}
toggle-selector > * {
    float: left;
}
toggle-selector input[type=radio] {
    display: none;
    /*   position: fixed; */
}
toggle-selector label {
    font: 90%/1.618 "Lato";
    color: rgba(0,0,0,.9);
    z-index: 0;
    display: block;
    width: 100px;
    height: 100px;
    margin: 3px 3px;
    font-family: "Lato";
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    /*   line-height:100px; */
    /*background: rgba(0,0,0,.1);*/
    text-align: center;
    /*margin: 0 2px;*/
    /*background: blue;*/ /*make it blue*/
}
toggle-selector .toggle_option_slider {
    /*display: none;*/
    /*background: red;*/
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

toggle-selector  #toggle-0:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 0px;
}
toggle-selector  #toggle-1:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 109px;
}
toggle-selector  #toggle-2:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 218px;
}

toggle-selector span.description{
    top:0px;
}

toggle-selector p.day {
    line-height: 50px;
    font-size: 2em;
}