<toggle-selector>

    <style scoped>
        input { display: none; }
    </style>

    <input onclick="{parent.onSelectedOption}" each="{option, index in opts.options}" checked="{option.value == parent.opts.selected}" type="radio" id="toggle-{index}" name="toggle_option"/>
    <div class="toggle_option_slider"></div>
    <label each="{option, index in opts.options}" for="toggle-{index}"><yield></yield></label>

    <script>
        var tag = this

        var demoOptions = [
            { value: 'EN', label: 'English', gmt: +1 },
            { value: 'FR', label: 'French', gmt: +2 },
            { value: 'NL', label: 'Dutch', gmt: +2 }
        ]

        tag.opts.options = tag.opts.options || demoOptions
        tag.opts.selected = tag.opts.selected || tag.opts.options[0].value

        tag.onSelectedOption = function(e) {
            tag.opts.selected = e.item.option.value
            tag.dispatchEvent('select', tag.opts.selected)
        }

    </script>

</toggle-selector>
